@import "tailwindcss";

/* Hide horizontal scrollbar but keep scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@keyframes scrollInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}
  
.animate-scrollInfinite {
    animation: scrollInfinite 25s linear infinite;
}
html,body {
  transition: background-color 0.3s, color 0.3s;
}

  
  


