@import "tailwindcss";

html, body {
  transition: background-color 0.3s, color 0.3s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
}

@keyframes scrollInfinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scrollInfinite {
  animation: scrollInfinite 25s linear infinite;
}

/* Optional but recommended */
body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}
